# Altium folders
Hardware/History/
Hardware/NES-NEEPROM-256 Cart/History/
Hardware/NES-NEEPROM-256 Cart/Source/History/
Hardware/NES-NEEPROM-256 Cart/Source/__Previews/
Hardware/NES-NEEPROM-256 Cart/Project Logs for*/
Hardware/NES-NROM Carts/History/
Hardware/NES-NROM Carts/Source/History/
Hardware/NES-NROM Carts/Source/__Previews/
Hardware/NES-NROM Carts/Project Logs for*/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Hardware/NES-NROM Carts/History/NES-NROM-128.~(1).PrjPCB.Zip
